<div class="template-nav">
  <div class="navkiri text-center">
    <p class="kotak1"></p>
    <div class="menu dashboard">
      <h3><i class="bi bi-house-door"></i></h3>
      <p>Dashboard</p>
    </div>
    <div class="menu cars">
      <h3><i class="fa-solid fa-truck-pickup"></i></h3>
      <p>Cars</p>
    </div>
  </div>
  <div class="divnav">
    <div class="row navigasi">
      <div id="hd1" class="col-md-2">
        <p class="kotak2"></p>
      </div>
      <div class="col">
        <h2><i class="bi bi-list" onclick="hiden()"></i></h2>
        <div class="kanan">
          <form class="d-flex">
            <input
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-primary" type="submit">
              Search
            </button>
          </form>
          <div class="bulet"></div>
          <h3><i class="bi bi-person me-2"></i></h3>
          <p class="mt-2 me-2">Fatwa zuhri</p>
          <h5><i class="bi bi-chevron-down"></i></h5>
        </div>
      </div>
    </div>
    <div class="row isi">
      <div id="hd2" class="col-md-2">
        <h6 class="mt-3">CARS</h6>
        <a href="/" style="text-decoration: unset; color: black"
          ><h6>List Car</h6></a
        >
      </div>
      <div class="col isikonten"><%- body %></div>
    </div>
  </div>
</div>
<script>
  const hiden = () => {
    var x = document.getElementById("hd1");
    var y = document.getElementById("hd2");
    if (x.style.display === "none") {
      x.style.display = "block";
      y.style.display = "block";
    } else {
      x.style.display = "none";
      y.style.display = "none";
    }
  };
</script>
