<% if (msg.length!==0) { %>
<div class="alert alert-info" role="alert"><%= msg %></div>
<% } %>
<!-- ============================ -->
<p><b>Cars > </b>List Car</p>
<div class="addandlist">
  <h5><b>List Car</b></h5>
  <a href="/add" style="text-decoration: unset"
    ><div class="kotakadd"><i class="bi bi-plus-lg"></i> Add New Car</div>
  </a>
</div>
<div class="kotaklist">
  <div class="kotak1 kotak">
    <a href="/"
      ><b><p>All</p></b></a
    >
  </div>
  <div class="kotak2 kotak">
    <a href="/filter/small">
      <b><p>Small</p></b></a
    >
  </div>
  <div class="kotak3 kotak">
    <a href="/filter/medium"
      ><b><p>Medium</p></b></a
    >
  </div>
  <div class="kotak4 kotak">
    <a href="/filter/large"
      ><b><p>Large</p></b></a
    >
  </div>
</div>

<div class="row">
  <!-- =============================================================================================== -->
  <% cars.forEach(data => { %>
  <div class="col-sm-4 colomisi mt-4">
    <div class="card">
      <img src="<%= data.image %>" class="card-img-top" alt="car" />
      <div class="card-body">
        <p class="card-text"><%= data.name %></p>
        <h5 class="card-title">Rp. <%= data.price %> / hari</h5>
        <p class="ud card-text">
          <i class="bi bi-clock"></i> Updated <%= data.updatedAt %>
        </p>
        <div class="row row-button">
          <div class="col" style="background-color: unset">
            <a
              onclick="hapusdata('<%= data.id %>');"
              class="btn btn-outline-danger delete"
              ><i class="bi bi-trash"></i> Delete</a
            >
          </div>
          <div class="col" style="background-color: unset">
            <a
              href="/update/<%= data.id %>"
              class="btn btn-outline-success edit"
              ><i class="bi bi-pencil-square"></i> Edit</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<!-- ============================================================================== -->

<% if (cars.length == 0) { %>
<tr>
  <td colspan="4">
    <div class="alert alert-danger fw-bold mt-3" role="alert">
      Data mobil masih kosong
    </div>
  </td>
</tr>
<% } %>

<script>
  const hapusdata = (id) => {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: "btn btn-success",
        cancelButton: "btn btn-danger",
      },
      buttonsStyling: false,
    });

    swalWithBootstrapButtons
      .fire({
        title: "Menghapus data mobil",
        text: "Setelah di hapus, data mobil tidak dapat di kembalikan. Yakin ingin menghapus ?",
        imageUrl: "img/mbnr.jpg",
        imageWidth: 300,
        imageHeight: 200,
        imageAlt: "Custom image",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel!",
        reverseButtons: true,
      })
      .then((result) => {
        if (result.isConfirmed) {
          swalWithBootstrapButtons.fire(
            "Deleted!",
            "Data berhasil di hapus",
            "success"
          );
          const myTimeout = setTimeout(pindah, 2000);

          function pindah() {
            window.location.replace(`/delete/${id}`);
          }
        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire(
            "Cancelled",
            "Data Batal di hapus :)",
            "error"
          );
        }
      });
  };
</script>
