.tempatisi{
  padding: 0;
}
.template-nav{
  height: 100vh;
  display: flex;
}
.template-nav .navkiri{
  background-color: rgb(3, 3, 183);
  width: 70px;
}
.template-nav .navkiri .kotak1{
  margin-top: 15px;
  background-color: lightgray;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
.template-nav .navkiri .menu{
  transition: 0.5s;
  cursor: pointer;
}
.template-nav .navkiri p{
  color: white;
  font-size: 11px;
}
.template-nav .navkiri i{
  color: white;
}
.template-nav .navkiri .menu:hover{
  background-color: rgba(255, 255, 255, 0.322);
}
.template-nav .divnav{
  width: 100%;
}
.template-nav .divnav .row{
  margin: 0;
}
.template-nav .divnav .navigasi{
  height: 10%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.142);
}
.template-nav .divnav .isi{
  height: 90%;
}
.template-nav .divnav .isi .col{
  background-color:  rgba(0, 0, 0, 0.142);
  padding: 20px;
}
.template-nav .divnav .isi .col-md-2{
  padding: 0;
}
.template-nav .divnav .isi h6{
  transition: 0.5s;
  font-weight: bold;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.template-nav .divnav .isi h6:hover{
  background-color:  rgba(0, 0, 0, 0.142);
}
.template-nav .divnav .navigasi .col{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.template-nav .divnav .navigasi .col h2 i{
  cursor: pointer;
  transition: 0.5s;
}
.template-nav .divnav .navigasi .col h2 i:hover{
  color: blue;
}
.template-nav .divnav .navigasi .col .kanan{
  align-items: center;
  display: flex;
  justify-content: end;
  width: 420px;
}
.template-nav .divnav .navigasi .col .kanan form{
  height: 40px;
  margin-right: 10px;
  width: 250px;
}
.template-nav .divnav .navigasi .col-md-2{
  position: relative;
}
.template-nav .divnav .navigasi .col-md-2 .kotak2{
  margin: 0;
  position: absolute;
  background-color: lightgray;
  left: 15px;
  top: 15px;
  bottom: 18px;
  right: 80px;
}

/* ===================================================index================================================== */

.isikonten{
  height: 100%;
  overflow-y: scroll;
  position: relative;
}
.isikonten .colomisi .card{
  height: 400px;
}
.isikonten .colomisi .card img{
  height: 200px;
  object-fit: cover;
}
.isikonten .colomisi .card .card-body{
  position: relative;
}
.isikonten .colomisi .card .card-body .ud{
  font-size: 13px;
}
.isikonten .colomisi .card-body .row-button{
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.isikonten .colomisi .card-body .row-button .delete{
  width: 100%;
  border-radius: 2px;
}
.isikonten .colomisi .card-body .row-button .edit{
  width: 100%;
  border-radius: 2px;
}
.isikonten .addandlist{
  display: flex;
  justify-content: space-between;
  height: 35px;
}
.isikonten .addandlist .kotakadd{
  height: 100%;
  width: 130px;
  background-color: rgb(0, 0, 173);
  border-radius: 3px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  padding-top: 6px;
  transition: 0.5s;
  cursor: pointer;
}
.isikonten .addandlist .kotakadd:hover{
  background-color: lightblue;
  color: black;
}
.isikonten .kotaklist{
  display: flex;
}
.isikonten .kotaklist .kotak{
  padding-top: 8px;
  text-align: center;
  height: 40px;
  background-color: white;
  font-size: 15px;
  margin-right: 10px;
  border: 1px solid lightblue;
  cursor: pointer;
  transition: 0.5s;
}
.isikonten .kotaklist .kotak a{
  text-decoration: unset;
  color: lightblue;
  transition: 0.5s;
}
.isikonten .kotaklist .kotak:hover{
  border: 1px solid blue;
}
.isikonten .kotaklist .kotak:hover a{
  color: blue;
}
.isikonten .kotaklist .kotak1{
  width: 40px;
}
.isikonten .kotaklist .kotak2{
  width: 50px;
}
.isikonten .kotaklist .kotak3{
  width: 70px;
}
.isikonten .kotaklist .kotak4{
  width: 50px;
}

/* ================================================add============================================= */

.isikonten .kotakinputnewcar{
  background-color: white;
  border-radius: 2px;
  padding: 10px;
}
.isikonten .kotakinputnewcar .row{
  margin-top: 20px;
  margin-bottom: 20px;
}
.isikonten .btninput{
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.isikonten .btninput2{
  position: absolute;
  bottom: 20px;
  left: 100px;
}

/* ================================================update================================================ */

.isikonten .kotakupdatenewcar{
  background-color: white;
  border-radius: 2px;
  padding: 10px;
}
.isikonten .kotakupdatenewcar .row{
  margin-top: 20px;
  margin-bottom: 20px;
}